$navbar-height: 50px;
$navbar-width: 100px;
$navbar-item-border: 2px;
$primary-bg-color: #000000;
$primary-bg-color-light: #d64646;
$primary-text-color: #ffffff;

$default-icon-color: #606060;
//layout
$main-containner-width: 70%;
$panel-containner-width: 20%;
$fullscreen-padding: 10%;
